* {
    font-family: Roboto;
    font-weight: 400;
}


header {
    margin: 0px 0px 69px 0px;
}

header a {
    font-size: 16px;
    line-height: 18.75px;
    text-decoration: none;
}


nav ul {
    list-style: none;
}

nav input[type="search"] {
    border: 1px solid gray;
    border-radius: 100px;
    height: 40px;
    background-color: rgba(31, 41, 55, 0.6);
}

nav input[type="search"]::placeholder {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

footer {
    font-size: 16px;
    line-height: 28px;
}